Brotli==1.0.9
# certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
charset-normalizer==2.1.1
click==7.1.2
colorama==0.4.6
decorator==4.4.2
# idna==3.4
imageio==2.23.0
imageio-ffmpeg==0.4.7
moviepy==1.0.3
mutagen==1.46.0
numpy==1.24.1
packaging==23.0
Pillow==9.3.0
pip-check==2.8.1
proglog==0.1.10
pycryptodomex==3.17
pydub==0.25.1
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqt5-tools==5.15.4.3.2
python-dotenv==0.21.0
pytube==12.1.2
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
requests==2.28.1
terminaltables==3.1.10
tqdm==4.64.1
urllib3==1.26.13
websockets==10.4
wincertstore==0.2
yt-dlp==2023.1.6
